
<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar udemy-red ie-nav" [containerInside]="false">
  <mdb-navbar-brand>
    <a class="logo navbar-brand" href="#"><img src="src/assets/img/udemy_logo.svg" width="40px" alt="udemy logo"><Strong class="ml-2">Recipe Book</Strong></a>
  </mdb-navbar-brand>
  <links>
    <ul class="navbar-nav mr-auto">
      <li [ngClass]="{'active': recipeClass }" class="nav-item  waves-light" mdbWavesEffect>
        <a class="nav-link" routerLink="/recipe" routerLinkActive="active" (click)="onSelect('recipe')">Recipes<span class="sr-only">(current)</span></a>
      </li>
      <li  [ngClass]="{'active': shoppingListClass }" class="nav-item  waves-light" mdbWavesEffect>
        <a class="nav-link" routerLink="/shopping-list" routerLinkActive="active" (click)="onSelect('shopping-list')">Shopping List<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <!-- Dropdown -->
      <li class="nav-item dropdown mr-5" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Manage<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Save Data</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Fetch Data</a>
          <div class="divider dropdown-divider"></div>
        </div>
      </li>
      <!-- Dropdown -->
    </ul>

  </links>
</mdb-navbar>
<!-- Main -->
