<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <img [src]="recipe.imagePath" alt="{{recipe.name}}" class="img-fluid">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>{{recipe.name}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div [ngClass]="show ? 'dropdown-animating show' : ''" class="dropdown">
        <button (click)="dropDown()" [ngClass]="show ? 'active' : ''" type="button" mdbBtn color="primary"
                class="dropdown-toggle waves-light" mdbWavesEffect>
          Recipe Ingredients
        </button>

        <div [ngClass]="{'fadeIn' : show}" class="dropdown-menu dropdown-primary animated mt-1">
          <a (click)="onAddToShoppingList()" class="dropdown-item" style="cursor: pointer;">To Shopping List</a>
          <a (click)="dropDown()" class="dropdown-item" href="#">Edit Recipe</a>
          <a (click)="dropDown()" class="dropdown-item" href="#">Delete Recipe</a>
          <div class="divider dropdown-divider"></div>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 my-2">
    {{ recipe.description }}
  </div>
</div>
<div class="row">
  <div class="col-12">
    <ul class="list-group">
      <li class="list-group-item"
      *ngFor="let ingredient of recipe.ingredients">
      {{ ingredient.name }} - {{ ingredient.amount }}
    </li>
    </ul>
  </div>
</div>
