<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="img-fluid">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>Recipe Name</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div [ngClass]="show ? 'dropdown-animating show' : ''" class="dropdown dropdown-animating">
      <button  (click)="fadeToggle()" [ngClass]="show ? 'active' : ''" type="button" mdbBtn color="primary" class="dropdown-toggle waves-light" mdbWavesEffect>
        Basic dropdown
      </button>

      <div [ngClass]="show ? 'fadeIn' : 'fadeOut'" class="dropdown-menu dropdown-primary animated mt-1">
        <a (click)="fadeToggle()" class="dropdown-item" href="#">To Shopping List</a>
        <a (click)="fadeToggle()" class="dropdown-item" href="#">Edit Recipe</a>
        <a (click)="fadeToggle()" class="dropdown-item" href="#">Delete Recipe</a>
        <div class="divider dropdown-divider"></div>
        <!--<a (click)="fadeToggle()" class="dropdown-item" href="#">Separated link</a>-->
      </div>
    </div>
  </div>
</div>
